---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Favorite Books - Jackson's Site">
    <h1>Favorite Books</h1>
    <h2>Authors</h2>
    <ul>
        <li>Murakami</li>
        <li>Bolaño</li>
        <li>Kafka</li>
        <li>Herbert</li>
        <li>Vonnegut</li>
        <li>Camus</li>
    </ul>
    <h2>Top 10 Books</h2>
    <ol>
        <li>The Stranger</li>
        <li>2666</li>
        <li>Slaughterhouse-Five</li>
        <li>Dune</li>
        <li>By Night in Chile</li>
        <li>Kafka on the Shore</li>
        <li>The Master and Margarita</li>
        <li>The Metamorphosis</li>
        <li>The Bell Jar</li>
        <li>The Left Hand of Darkness</li>
    </ol>
</BaseLayout>
