---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Favorite Movies - Jackson's Site">
    <h1>Favorite Movies</h1>
    <h2>Filmmakers</h2>
    <ul>
        <li>Wes Anderson</li>
        <li>Andrew Kaufman</li>
        <li>The Coen Brothers</li>
        <li>Christopher Nolan</li>
        <li>Hayao Miyazaki</li>
    </ul>
    <h2>Top 10 Movies</h2>
    <ol>
        <li>Moonrise Kingdom</li>
        <li>No Country for Old Men</li>
        <li>The Wind Rises</li>
        <li>Ikiru</li>
        <li>Asteroid City</li>
        <li>Dr. Strangelove, or, How I Learned to Stop Worrying and Love the Bomb</li>
        <li>A Serious Man</li>
        <li>The Grand Budapest Hotel</li>
        <li>Eternal Sunshine of the Spotless Mind</li>
        <li>Porco Rosso</li>
    </ol>
</BaseLayout>