---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Jackson's Site">
	<h1>About</h1>
    <h2>This Site</h2>
        <p>
            Written using Astro and a lot of help from Claude Code. I would not call it fully vibe-coded, as I have read the code and understand it, but still, this is very much AI-assisted development.
        </p>
    <h2>Me</h2>
        <p>
            I am a full time college student at Carleton College in Northfield, Minnesota. I am studying economics (major) and philosophy (minor). I spend most of my time reading, playing board games, watching YouTube, and working on various side projects (like this!). Here are some of my favorite <a href="/favorite/books">books</a>, <a href="/favorite/movies">movies</a>, <a href="/favorite/music">music</a>, and <a href="/favorite/games">games</a>.
        </p>
</BaseLayout>