---
import BaseLayout from '../layouts/BaseLayout.astro';

const site_name = "Jackson's Site";
---

<BaseLayout title={site_name}>
	<h1>{site_name}</h1>
	<p>Hello world. Welcome to my site. This is where I share a number of things I am up to and some of my thoughts. Please enjoy.</p>
	<h2>TODO</h2>
	<ul>
		<li>Get actual blog posts up</li>
		<li>Re-minimalize the software section</li>
		<li>Add more content to home page</li>
		<li>Finish favorite things page</li>
		<li>Decide on and purchase domain name</li>
	</ul>
</BaseLayout>
